@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.activeLink {
  @apply flex items-center gap-2 bg-green-100 px-2 py-1 rounded-md text-green-600;
}

.inactiveLink {
  @apply flex items-center gap-2 px-2 py-1 hover:text-blue-400 hover:bg-gray-100 rounded-md;
}